#div_ci{
  background-color: #ffffffc4;
  border-radius: 7px;
  padding: 38px 61px;
  width: auto;
}
.center_bloc > div > div {
  background-color: #ffffff;
  margin: 15px;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 114px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  cursor: pointer;
}
.center_bloc > div > div:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.175)!important;
  transition-duration: 500ms;
}
.center_bloc > div > div > p {
  color: #824e33;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
}
.icon_ci {
  color: #bf6f47;
  font-size: 45px;
}
@media screen and (max-width: 480px) {
  #div_ci{
    width:100%;
    padding: 38px 24px;
  }
  .container{
    padding-top:60px;
  }
}
