.card{
  border-radius: 0px;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  cursor:pointer;
  border:0px;
}
.homepage .card{
  height:130px
}
.card, .card:hover, .card:link, .card:active{
  color:black;
  text-decoration: none;
  border-radius: 7px;
}
.homepage .card:hover{
  background-color:#c6c8b1;
  background-color: #b7ae92;
  transition-duration: 500ms;
}
.card h5{
  font-size:17px !important;
  color: #384e5c;
}
.card-body{
  padding: auto auto;
}
.icon-card{
  font-size: 35px;
  color: #668497;
}
.card:hover .icon-card{
  color: #746c52;
  fill:#746c52;
  transition-duration: 500ms;
}
.alert_div{
  width: 400px;
  background-color: #ead0bad6;
  border-radius: 6px;
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  border: 5px solid #f2ede973;
  color: #7d5937;
}
.alert_div > svg{
  color: #cd915a;
  font-size: 40px;
  top: -22px;
  left: 45%;
  position: absolute;
}
@media screen and (max-width: 992px) {
  .container > div{
    margin-top:100px !important;
  }
  .container{
    height:auto;
  }
  .head1{
    padding-top: 70px;
  }
}
@media screen and (max-width: 451px) {
  .alert_div{
    width:100%;
  }
}