
.title_parcours{
  color: #424242;
  font-size: 26px;
}
.school{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  color: #737373;
}
#parcours li{
  list-style: '-  ';
}

#parcours .accordion-body{
  background-color: #fffffffc !important;
  text-align: left;
  font-size: 14px;
}

#parcours .accordion-button:not(.collapsed) {
  background-color: #ccdbca;
  background-color: #ccdbca;
  color: #525e2d;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
.img_parcours{
  max-height: 100%;
  max-width:100%;
  width:auto;
  height:auto;
}
.card-body{
  background-color: #fffffffc;
  border: 0px;
  text-align: left;
  font-size: 14px;
  border-bottom-width: 1px;
  border-radius: 1px;
}
.card-body a:link, .card-body a:active, .card-body a:visited{
  color:#9a995d;
}
.arrow{
  color: #a4996d;
  margin-left: 10px;
}
.down{
  transform: rotate(0deg);
  transition: transform 2s ease-in-out;
  color:#7e7e7e;
}
.up{
  transform: rotate(180deg);
  transition: transform 2s ease-in-out;
}
.btn_parcours:focus {
  outline: 0;
  box-shadow: none;
}
.btn_parcours_open{
  color: #5c5538;
  letter-spacing: 1px;
  width:100%;
}
.p_open{
  background-color: #a4996d33;
  box-shadow: 0 0 0 0.25rem rgba(168,158,117,.51);
}
.style_bold{
  font-weight: 600;
  color: #262626;
}
.head1{
  margin-top: 50px;
}
.row{
  background-color: #ffffffab;
  border-radius:5px;
}