html, body {
    height: 100%;
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: blur(3px);
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
#background{
  opacity: 0.3;
  filter: blur(3px);
}
.container{
  position:relative;
}
h1{
  font-family: 'Arima Madurai', cursive;
}
.card{
  border-radius: 0px;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  cursor:pointer;
  border:0px;
}
.homepage .card{
  height:130px
}
.card, .card:hover, .card:link, .card:active{
  color:black;
  text-decoration: none;
  border-radius: 7px;
}
.homepage .card:hover{
  background-color:#c6c8b1;
  background-color: #b7ae92;
  transition-duration: 500ms;
}
.card h5{
  font-size:17px !important;
  color: #384e5c;
}
.card-body{
  padding: auto auto;
}
.icon-card{
  font-size: 35px;
  color: #668497;
}
.card:hover .icon-card{
  color: #746c52;
  transition-duration: 500ms;
}
.homepage .card:hover h5{
  color: #443e2a;
  transition-duration: 500ms;
}
li.nav-item{
  padding-right: 10px;
  padding-bottom:5px;
  padding-top:5px;
}
li.nav-item:hover{
  background-color:#668497;
  background-color: #c8cecc;
  transition-duration: 500ms;
}
li.nav-item{
  border-left: 1px solid #e2e2e2;
  padding-left: 10px;
}
.navbar, .navbar > div{
  padding:0px;
}


@media screen and (max-width: 992px) {
  .container > div{
    margin-top:100px !important;
  }
}