html, body {
  height: 100%;
}
body{
  background: url("../images/fond3.png") no-repeat center center fixed;
  background-size: cover;
}
/*
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: blur(3px);
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}*/
#background{
  opacity: 0.3;
  filter: blur(3px);
}
.container{
  position:relative;
}
h1{
  font-family: 'Arima Madurai', cursive;
}
.date{
  color: #8e8e8e;
  letter-spacing: 1px;
  font-size: 14px;
}
.homepage .card:hover h5{
  color: #443e2a;
  transition-duration: 500ms;
}
li.nav-item{
  padding-right: 10px;
  padding-bottom:5px;
  padding-top:5px;
}
li.nav-item:hover{
  background-color:#668497;
  background-color: #c8cecc;
  transition-duration: 500ms;
}
li.nav-item{
  border-left: 1px solid #e2e2e2;
  padding-left: 10px;
}
.navbar, .navbar > div{
  padding:0px;
}




/* CONTACT */
.icon_contact{
  color: #a2a2a2;
  font-size: 24px;
  margin-bottom: -4px;
  margin-right: 8px;
}
#div_contact, #div_contact a, #div_contact a:link, #div_contact:active{
  color: #373737;
  text-decoration: none;
}
#div_contact a:hover{
  text-decoration:underline;
}
#div_contact p:hover .icon_contact{
  color: #9cc3ba;
  transition-duration: 300ms;
}

@media screen and (max-width: 992px) {
  .container > div{
    margin-top:100px !important;
  }
}