html, body {
  height: 100%;
}
body{
  background: url("../images/fond3.png") no-repeat center center fixed;
  background-size: cover;
}
#background{
  opacity: 0.3;
  filter: blur(3px);
}
.container{
  position:relative;
}
h1{
  font-family: 'Arima Madurai', cursive;
}
.date{
  color: #8e8e8e;
  letter-spacing: 1px;
  font-size: 14px;
}
.homepage .card:hover h5{
  color: #443e2a;
  transition-duration: 500ms;
}
li.nav-item{
  padding-right: 10px;
  padding-bottom:5px;
  padding-top:5px;
}
li.nav-item:hover{
  background-color:#668497;
  background-color: #c8cecc;
  transition-duration: 500ms;
}
li.nav-item{
  border-left: 1px solid #bac6b5;;
  padding-left: 10px;
}
.navbar, .navbar > div{
  padding:0px;
}
.navbar{
  color: #565c53 !important;
  background-color: #b2b9af !important;
}




/* Contact */
.icon_contact{
  color: #a2a2a2;
  font-size: 24px;
  margin-bottom: -4px;
  margin-right: 8px;
}
#div_contact, #div_contact a, #div_contact a:link, #div_contact:active{
  color: #373737;
  text-decoration: none;
}
#div_contact a:hover{
  text-decoration:underline;
}
#div_contact p:hover .icon_contact{
  color: #9cc3ba;
  transition-duration: 300ms;
}
#bloc_contact{
  background-color: #ffffffc4;
  border-radius: 7px;
  padding: 38px 61px;
  width:430px;
}
@media screen and (max-width: 480px) {
  #bloc_contact{
    width:97%;
    padding: 28px 0px;
    margin-top: 59px !important;
  }
}
.map{
  height:300px;
  width:100%;
}



/* Compétences */
.div_comp img{
  max-height:50px;
  max-width: 80px;
  height:50px;
}
.div_comp > div > div >div > div > p{
  color:#4e4e4e;
}
.div_comp > div >div > p{
  color: #404b3e;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 0px;
  margin-bottom: 0px;
  background-color: #b1baaf;
}

.div_comp > div >div {
  background-color: #ffffffad;
  margin:15px;
  margin-top:0px;
  padding:0px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.div_comp > div > div > div{
  padding:15px;
}
.div_comp > div > div:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  transition-duration: 300ms;
  cursor: pointer;
}
#div_analyse > div > div{
  border: 2px dotted #dedede;
  border-radius: 5px;
}
#div_analyse p{
  margin:0px;
}
@media screen and (max-width: 740px) {
  .div_comp > div >div {
    margin-left:0px;
    margin-right:0px;
  }
  .div_comp > div > div > div, .div_comp > div > div > div > div {
    width: 100%;
  }
}